services:
  {{.BinaryName}}:
    build: .
    ports:
      - "{{.Port}}:{{.Port}}"
    restart: unless-stopped
{{- range .Services}}
  {{.Name}}:
    image: {{.Image}}
    ports:
      - "{{.Port}}:{{.Port}}"
{{- end}}
